<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
<head>
    <title>{page.title} - {page.no}</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="res/style.css" />
</head>
<body>
<div class="items">
<!-- page.item
<div class="item"><img src="../imgs/{page.title}/{img.no}.jpg"/></div>
-->
{page.items}
</div>
</body>
</html>
